/* body{
   width: 100%;
   display: grid;
   height: 100%;
   
} */

.top-section{
    
    background-size: cover;
    background: hsla(193, 100%, 96%);
    background-image: url(./images/bg-hero-desktop.svg);
    padding-top: 1rem;
    width: 80%;
}


.card-section{
    width: 50rem;
    /* height: 20rem; */
}


.main-footer{
    background: hsl(192, 100%, 9%);
}


.try-free{
    background: #fff;
    color: #000;
    padding: 1rem 0;
   
}

.build{
    padding-top: 2rem;
    display: block;
}


h2{
    font-size: 2.5rem;
    text-align: start;
    font-weight: bolder;
}

p{
    font-size: 1.5rem;
}

.pink{
    background: hsl(322, 100%, 66%);
    color: #fff;
    font-weight: 100;
}

.second-section{
    box-shadow: 10px 10px 10px grey;
    /* margin-left: 10rem; */
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    width: 70%;
    
    
}
.third-section{
    box-shadow: 10px 10px 10px grey;
    /* margin-left: 10rem; */
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    width: 70%;
    
    
}
.forth-section{
    box-shadow: 10px 10px 10px grey;
    /* margin-left: rem; */
    border-radius: 2rem;
    width: 70%;
    
}
.together{
    padding-top: 10rem;
}